# Виртуальные окружения (в любых подпапках проекта)
**/venv/
ENV/
env/

# Кэш Python компиляции
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Локальные базы данных (чтобы база не улетала на GitHub)
*.db
*.sqlite3

# Конфигурации и секретные ключи (если появятся в будущем)
.env
.secrets

# Логи и системные файлы
*.log
.DS_Store
